body{
    background: #E2C2B9;
}

.cabecalho{
    background-color: #BFD8B8;
    margin: 10px 10px auto;
    padding: 30px 30px auto;
    text-align: left;
    border-radius: 10px;
}

h1{
    color: #1C7947;
    background-color: #CEE5D0;
    margin: 15px 10px 15px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Garamond;
    display: inline-block;

}

table{
    width: 10%;
    font-weight: normal;
    margin: 40px auto 20px;
    border: 1px #000 solid;
    border-collapse: collapse;
}

table thead{
    background: #ccc;
    font-size: 14px;
    text-transform: uppercase;
    height: 30px;
}

nav{
    float: right;
    margin-top: auto;
}

nav a{
    color: #1C7947;
    display: inline-block;
    margin: 30px;
    padding-top: auto;
    font-size: 18px;
}

.login{
    background: #BFD8B8;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

h2{
    margin: 15px 20px 40px 20px;
    padding: 50px 10px 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    color: #1f2f4d;
    font-family: Times New Roman;
}
h3{
    margin: 5px 20px 20px 20px;
    text-align: center;
    text-transform: none;
    font-size: 30px;
    font-family: Times New Roman;  
}
form{
    margin: 5px auto;
    border: 0.5px solid #000;
    width: 40%;
    padding: 20px 10px;
    text-align: right;
    font-family: Times New Roman;
}
label{
    text-transform: uppercase;
    font-size: 15px;
}
input{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}
input[type="submit"], button{
    cursor: pointer;
    background: #1f2f4d;
    color: rgb(253, 251, 251);
    display: inline-block;
    height: 35px;
}
button{
    background: rgb(250, 248, 248);
    border: none;
    font-size: 20px;
}

input[type="submit"]:hover{
    background: #fff;
    color: #0a0a0a;
    border: 1px solid #080808;
}
